@import "tailwindcss";
@plugin "daisyui" {
  themes: light --default, dark --prefersdark;
}

@plugin "daisyui/theme" {
  name: "light";
  default: true;
  prefersdark: true;
  color-scheme: "light";
  --color-base-100: oklch(97% 0.013 17.38);
  --color-base-200: oklch(93% 0.032 17.717);
  --color-base-300: oklch(88% 0.062 18.334);
  --color-base-content: oklch(39% 0.141 25.723);
  --color-primary: oklch(75% 0.183 55.934);
  --color-primary-content: oklch(26% 0.079 36.259);
  --color-secondary: oklch(71% 0.202 349.761);
  --color-secondary-content: oklch(28% 0.109 3.907);
  --color-accent: oklch(79% 0.209 151.711);
  --color-accent-content: oklch(26% 0.065 152.934);
  --color-neutral: oklch(44% 0.177 26.899);
  --color-neutral-content: oklch(97% 0.013 17.38);
  --color-info: oklch(78% 0.154 211.53);
  --color-info-content: oklch(30% 0.056 229.695);
  --color-success: oklch(77% 0.152 181.912);
  --color-success-content: oklch(27% 0.046 192.524);
  --color-warning: oklch(85% 0.199 91.936);
  --color-warning-content: oklch(28% 0.066 53.813);
  --color-error: oklch(70% 0.191 22.216);
  --color-error-content: oklch(25% 0.092 26.042);
  --radius-selector: 2rem;
  --radius-field: 0rem;
  --radius-box: 0.25rem;
  --size-selector: 0.25rem;
  --size-field: 0.25rem;
  --border: 1px;
  --depth: 1;
  --noise: 0;
}

